@import url(./global.css);

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--white);
}

main {
  max-width: 600px;
  margin: 100px auto;
  margin-bottom: 100px;
}

section {
  margin: 0 0 50px 0;
}

.hidden {
  display: none;
}

.card,
.main-content__pro,
.main-content {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.main-content__pro,
.main-content {
  animation: fadeIn 1s ease 0.5s forwards;
}

.card:nth-child(1) {
  animation: fadeIn 1s ease 0.5s forwards;
}

.card:nth-child(2) {
  animation: fadeIn 1s ease 1s forwards;
}

.card:nth-child(3) {
  animation: fadeIn 1s ease 1.5s forwards;
}

.card:nth-child(4) {
  animation: fadeIn 1s ease 2s forwards;
}

.card:nth-child(5) {
  animation: fadeIn 1s ease 2.5s forwards;
}

.card:nth-child(6) {
  animation: fadeIn 1s ease 3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
