/* Card styles */

.card {
  border-radius: 10px;
  border: 1px solid #423d3c;
  margin: 50px 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* not selected bookmark */

.card__bookmark {
  background-image: url(./resources/bookmark.png);
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  background-size: contain;
  top: -10px;
  right: 15px;
  position: absolute;
}

/* selected bookmark*/

.card__bookmark__filed {
  background-image: url(./resources/bookmark_filled.png);
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  background-size: contain;
  top: -10px;
  right: 15px;
  position: absolute;
}

.card__question {
  font-size: 20px;
  text-align: center;
  color: #423d3c;
  text-align: center;
  padding: 20px 0;
}

.card__answer {
  font-size: 20px;
  text-align: center;
  color: var(--green);
  padding: 20px 0;
  /* display: none; */
}

.tags {
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  margin-left: 5px;
}

.tag {
  padding: 5px;
  border: 1px solid green;
  margin-right: 10px;
  border-radius: 5px;
}

.card__button {
  border: 1px solid green;
  background-color: var(--white);
  color: var(--green);
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  align-self: center;
  justify-content: center;
  transition: 0.3s;
  margin-bottom: 20px;
}

.card__button:hover {
  background-color: var(green);
  color: var(--white);
}

.card__button .active a {
  background-color: #c0c0c0;
  color: var(--green);
}
