.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  z-index: 10;
}

.header__title {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
