footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 20px 0;
  border-top: 1px solid #333;
}

.navbar {
  display: flex;
  max-width: 600px;
  justify-content: space-around;

  margin: 0 auto;
}

.navbar__link {
  align-content: stretch;
  height: 40px;
  width: 40px;
  background-size: contain;
  display: inline-block;
}

.navbar__link--home {
  background-image: url(./resources/home.png);
}

.navbar__link--home:hover {
  background-image: url(./resources/home_filled.png);
}

.navbar__link--home--current {
  background-image: url(./resources/home_filled.png);
}

.navbar__link--bookmarks {
  background-image: url(./resources/bookmark.png);
}

.navbar__link--bookmarks:hover {
  background-image: url(./resources/bookmark_filled.png);
}
.navbar__link--bookmarks--current {
  background-image: url(./resources/bookmark_filled.png);
}
.navbar__link--profile {
  background-image: url(./resources/profile.png);
}

.navbar__link--profile:hover {
  background-image: url(./resources/profile_filled.png);
}
.navbar__link--profile--current {
  background-image: url(./resources/profile_filled.png);
}
