.main-content__pro {
  border: 1px #423d3c solid;
  padding: 40px;
  border-radius: 20px;
}
.profile__bio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.--image,
.--name {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__counters {
  display: flex;
}

/* .bookmarks,
.questions {
  margin-right: 40px;
}

.questions,
.bookmarks {
  border: 1px solid green;
  padding: 15px;
  border-radius: 10px;
} */

/* .questions,
.number {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: space-between;
}

.bookmarks,
.number {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.profile__counters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 100px;
}

.profile__counter-question h2,
.profile__counter-bookmark h2 {
  margin: 0;
}
.profile__counter-question {
  border: 1px solid green;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  align-self: center;
  justify-content: center;
}

.profile__counter-bookmark {
  border: 1px solid green;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  align-self: center;
  justify-content: center;
}

.profile__counters img {
  width: 40px;
  height: 40px;
  margin-right: 30px;
}

.profile__counters .fa-bookmark {
  width: 40px;
  height: 40px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile__counters .fa-message {
  width: 40px;
  height: 40px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__counters h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-lg {
  font-size: 2.3em;
  line-height: 0.75em;
  vertical-align: -15%;
}

/* new */

.--text {
  width: 100%;
}

.counter__section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.settings__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.settings__title {
  width: 100%;
}

body {
  background-color: white;
  transition: 0.4s ease;
}

.button {
  padding: 14px 20px;
  border: none;
  border-radius: 14px;
  font-weight: bold;
  font-size: 24px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button:hover {
  background-color: rgb(92, 159, 247);
}

.button--light {
  background-color: #bac4c9;
  color: black;
}

.button--dark {
  background-color: rgb(50, 51, 58);
  color: white;
}

.button--toggle {
  background-color: rgb(28, 117, 235);
  color: black;
}
